.footer {
  background: $grey-dark;
  width: 100%;
  padding: 8rem 0 2rem;
  color: $white;

  p, h2, h3, h4, a {
    color: $white;
    margin: 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;

    @include max-screen(767px) {
      grid-template-columns: 1fr;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #707070;
    padding-top: 2rem;
    margin-top: 2rem;

    p {
      font-size: 0.875rem;
      margin: 0;
    }
  }
}