.header {
  position: relative;
  z-index: 10;
  padding: $spacing*2 0;
  background-color: $white;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 200px;
    @include flex-vertical-center;

    h2 {
      margin-bottom: 0;
    }
    a {
      display: block;
    }
  }

  &__menu {
    display: flex;

    & ul li {

      & a {
        &:hover {
          color: $orange !important;
        }
      }



      @include max-screen($menu-mobile-breakpoint) {
        text-align: left;
      }

    }
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .open-button {
      display: none;
      z-index: 99999;
      background: none;
      border: none;
      cursor: pointer;

      & span {
        display: block;
        height: 2px;
        width: 30px;
        background-color: $black;

        &:not(:last-of-type) {
          margin-bottom: 6px;
        }
      }

      @include max-screen($menu-mobile-breakpoint) {
        display: block;

        & span {
          transition: all .5s;
        }
  
        &.open {

          & span {
            background-color: $white;
          }
  
          & span:nth-of-type(1) {
            transform: rotate(45deg) translateY(11px);
          }
  
          & span:nth-of-type(2) {
            transform: translateX(20px);
            opacity: 0;
          }
  
          & span:nth-of-type(3) {
            transform: rotate(-45deg) translateY(-11px);
          }
          
        }

      }
    }

    .button {
      position: absolute;
      right: 0;
      top: 30px;

      @include max-screen($menu-mobile-breakpoint) {
        position: relative;
      }
    }
  }
}