.header {
  position: relative;
  z-index: 10;
  padding: $spacing*2 0;
  background-color: $header-color;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 200px;
    @include flex-vertical-center;

    h2 {
      margin-bottom: 0;
    }
    a {
      display: block;
    }
  }

  &__menu {
    display: flex;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .open-button {
      display: none;
      // z-index: 99999;

      // @include max-screen($menu-mobile-breakpoint) {
      //   display: block;
      // }
    }

    // .button {
    //   position: absolute;
    //   right: 0;
    //   top: 30px;

    //   @include max-screen($menu-mobile-breakpoint) {
    //     position: relative;
    //   }
    // }
  }
}