// Palette

$white:		    #FFFFFF;
$black: 	    #000000;
$red:           red;
$grey-light:    #CACDCC;
$grey:          #43474A;
$grey-dark:     #2C3236;
$green:         #1AE0B0;
$green-dark:    #0F957A;
$pink:          #CA3163;

// Theme styles

$brand:             $red;

$font-color:        $black;
$heading-color:     $black;
$link-color:        $brand;
$link-hover-color:  $brand;

$border-color:      rgba(0,0,0,0.5);

$main-background:   $white;

// Header

$header-color:      $grey-light;
$menu-link:         $black;
$menu-link-current: $brand;
$menu-link-hover:   $brand;